{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}

<f:section name="Styles">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="resource://MIWeb.Neos.Slick/Public/Styles/slick-theme.css" />
</f:section>

<f:section name="StylesEditor">
    <link rel="stylesheet" type="text/css" href="resource://MIWeb.Neos.Slick/Public/Styles/slick-editor.css" />
</f:section>

<f:section name="Scripts">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.miweb-neos-slick-carousel').slick({
                dots: true,
                autoplay: true,
                autoplaySpeed: 5000
            });
        });
    </script>
</f:section>
